.hobbies__container{
    background-color: #100c24;
    padding: 2.5rem;
}
.hobbies__titulo{
    color: rgb(207,226,30);
    font-size: 3rem;
    font-weight: 800;
    font-family:Montserrat, sans serif;;
}
.hobbies__lista{
    color: white;
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
.hobbies__lista-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90px;
    padding: 2rem;
    border: solid black;
    border-radius: 5px;
    margin-left: 15px;
    font-family:Montserrat, sans serif;;
}
.hobbies__lista-item:hover{
    border-color:rgb(207,226,30) ;
}
@media screen and (min-width:0px) {
    .hobbies__lista{
        align-items: center;
        flex-direction: column;
    }
    
}

@media screen and (min-width:368px) {
    .hobbies__lista{
        align-items: center;
        flex-direction: column;
    }
    
}
@media screen and (min-width:768px){
    .hobbies__lista{
        flex-direction: row;
        flex-wrap: wrap;
    }   
}

